aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1724167852130/work
aiohttp @ file:///D:/bld/aiohttp_1726062936076/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alabaster==1.0.0
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
babel==2.16.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///D:/bld/cffi_1725560706917/work
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///D:/bld/click_1692312014553/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
contourpy==1.3.0
cryptography @ file:///D:/bld/cryptography-split_1708780364147/work
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1734247674276/work
dataclasses-json==0.6.7
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1729718892862/work
deepdiff==8.0.1
Deprecated==1.2.14
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docutils==0.21.2
emoji==2.12.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1725740553553/work
filetype==1.2.0
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist @ file:///D:/bld/frozenlist_1725395806575/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1725543257300/work
getpaper==0.5.0
greenlet==3.1.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1724106245647/work
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1724450538981/work
imagesize==1.4.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
iniconfig==2.0.0
iopath==0.1.10
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jiter @ file:///D:/bld/jiter_1725346788248/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1720529478715/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
just-agents==0.1.0
kiwisolver==1.4.7
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.39
langchain-text-splitters==0.2.4
langdetect==1.0.9
langsmith==0.1.118
layoutparser==0.3.4
litellm @ file:///home/conda/feedstock_root/build_artifacts/litellm_1726042427985/work
loguru @ file:///D:/bld/loguru_1725349786690/work
lxml==5.3.0
Mako==1.3.5
mariadb @ file:///D:/bld/mariadb_1725747263344/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///D:/bld/markupsafe_1724959613474/work
marshmallow==3.22.0
matplotlib==3.9.2
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mkl-service==2.4.1
more-itertools==10.5.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict @ file:///D:/bld/multidict_1725953814421/work
multiprocess @ file:///D:/bld/multiprocess_1724954693267/work
mypy-extensions==1.0.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.3
nltk==3.9.1
numpy @ file:///D:/bld/numpy_1707225528937/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=537f0573fefb1e93b3633e8a79102e6b6d2911e09e0a90008993efef4242448e
numpydoc==1.8.0
olefile==0.47
onnx==1.16.2
onnxruntime==1.19.2
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1725922264521/work
opencv-python==4.10.0.84
orderly-set==5.2.2
orjson==3.10.7
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.2
pdf2image @ file:///home/conda/feedstock_root/build_artifacts/pdf2image_1704665640257/work
pdfminer.six==20231228
pdfplumber==0.11.4
pi_heif==0.18.0
pillow @ file:///D:/bld/pillow_1726075236112/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1733733072265/work
pluggy==1.5.0
portalocker==2.10.1
protobuf==5.28.1
psutil==6.0.0
pyarrow==17.0.0
pycomfort==0.0.15
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1725908533635/work
pydantic_core @ file:///D:/bld/pydantic-core_1725735756927/work
pyfunctional==1.5.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pynction==0.4.1
pyparsing==3.1.4
pypdf==4.3.1
pypdfium2==4.30.0
pyreadline3==3.5.2
PySide6==6.8.0.2
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1697399219056/work
pytest==8.3.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
python-iso639==2024.4.27
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pywin32==306
PyYAML @ file:///D:/bld/pyyaml_1725456353121/work
rapidfuzz==3.9.7
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
regex @ file:///D:/bld/regex_1726095734754/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-toolbelt==1.0.0
retrying @ file:///home/conda/feedstock_root/build_artifacts/retrying_1721646300555/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1726066019428/work/dist
rpds-py @ file:///D:/bld/rpds-py_1725327171019/work
safetensors @ file:///D:/bld/safetensors_1725632114029/work
scidownl==1.0.2
scikit-learn @ file:///D:/bld/scikit-learn_1726082831890/work/dist/scikit_learn-1.5.2-cp311-cp311-win_amd64.whl#sha256=1563a30216ae3be7bdc63a1927af2dd198f5e521fb5bd12a1f52cfa4ea406570
scipy @ file:///C:/bld/scipy-split_1729480803190/work/dist/scipy-1.14.1-cp311-cp311-win_amd64.whl#sha256=876bb04b690bc075c6fa8736ed166f36f26dc912c7ea970530659afc09cd6dd1
semanticscholar==0.8.4
sentence-transformers @ file:///home/conda/feedstock_root/build_artifacts/sentence-transformers_1729550303355/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
shiboken6==6.8.0.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.34
sympy==1.13.2
tablib==3.6.1
tabulate==0.9.0
tenacity==8.5.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tiktoken @ file:///D:/bld/tiktoken_1715893859400/work
timm==1.0.9
tkinterdnd2==0.4.2
tksheet==7.2.23
tokenizers==0.19.1
torch @ file:///C:/b/abs_e1nmgx0bk6/croot/pytorch-select_1725478824526/work
torchvision==0.19.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
transformers==4.44.2
ttkbootstrap==1.10.1
typer==0.12.5
typer-slim==0.12.5
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
unpywall==0.2.3
unstructured==0.15.12
unstructured-client==0.25.8
unstructured-inference==0.7.36
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wget==3.2
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
win32-setctime==1.1.0
wrapt==1.16.0
xxhash @ file:///D:/bld/python-xxhash_1725272140818/work
yarl @ file:///D:/bld/yarl_1726055272157/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1724730934107/work
zstandard==0.23.0
